   <!-- hero section start here -->
   <div class="hero">
    <div class="hero_bg" data-lenis-parallax=".5">
        <div class="w-100 h-100 js-anim--scale" data-screen-offset="0.3"><video
                id="hero-bg-video" autoplay muted playsinline loop preload="none"
                data-pc="images/banner-video-modal.mp4"
                data-mobile="images/banner-video-modal.mp4"></video></div>
    </div>
    <div class="hero_content">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-sm-8 col-12 hero_content_inner js-cursor-extend">
                <h6 class="text-center hero_content_inner_subtitle subtitle-color js-anim--lines--sim secondary-font"
                    data-screen-offset="0.8">KERIA DAIKI</h6>
                <h1 class="text-center title-color js-anim--chars mb-0 primary-font"
                    data-screen-offset="0.6">
                    EMBARK<br><strong>ON
                        A</strong><br><strong>MINDFUL</strong><br>WEB<br>JOURNEY</h1>
            </div>
        </div>
    </div>
</div>
<!-- hero section end -->