<div class="hero hero__red">
    <div class="hero_content">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-sm-8 col-12 hero_content_inner"><span
                    class="text-center h6 hero_content_inner_subtitle text-dark secondary-font">KERIA DAIKI</span>
                <h1 class="text-center text-dark js-anim--chars mb-0 primary-font" data-screen-offset="0.6">
                    embark <br>
                    on a <br>
                    mindful <br>
                    web <br>
                    journey</h1>
            </div>
        </div>
    </div>
</div>