<div class="row about_me">
    <div class="col-lg-8 col-sm-10 col-12 offset-lg-2 offset-sm-1">
        <div class="about_content container_content js-cursor-extend">
            <p class="about_content_label body-text text-uppercase subtitle-color2 secondary-font">About me
            </p>
            <div class="about_content_desc h2">
                <div class="scroll-paragraph-mask js-scroll-paragraph-mask title-color2 secondary-font">I’m
                    a
                    <strong>passionate</strong> <strong>skilled</strong> web designer
                    committed to delivering high quality design work while striving to
                    create remarkable experiences.
                </div>
            </div>
        </div>
    </div>
</div>