<div class="row about_me">
    <div class="col-lg-8 col-sm-10 col-12 offset-lg-2 offset-sm-1">
        <div class="about_content container_content">
            <p class="about_content_label body-text text-uppercase text-dark secondary-font">About me</p>
            <div class="about_content_desc h2">
                <div class="scroll-paragraph-mask text-dark secondary-font">
                    My name is Keria i am a 29 year old resident of France. Welcome to my
                    passionate artistic world, where creations inspire enduring emotions.
                </div>
            </div>
        </div>
    </div>
</div>