<div class="motto">
    <div class="motto_bg" data-lenis-speed=".3">
        <picture class="image__object-fit d-sm-block d-none"><img
                src="images/d92263fca8432098675bf1e2562d51d9.png" class="js-image--lazy"
                data-srcset="images/banner-bottom-400.jpg 400w, assets/images/banner-bottom-800.jpg 800w, assets/images/banner-bottom-1200.jpg 1200w, assets/images/banner-bottom-1600.jpg 1600w, assets/images/banner-bottom-2400.jpg 2400w, assets/images/banner-bottom.jpg 3456w"
                width="1728" height="1008" sizes="(max-width: 1728px) 100vw, 1728px" alt="banner-bottom" />
        </picture>
        <picture class="image__object-fit d-sm-none d-block"><img src="images/banner-bottom-mobile-50.jpg"
                class="js-image--lazy"
                data-srcset="images/banner-bottom-mobile-400.jpg 400w, assets/images/banner-bottom-mobile-800.jpg 800w, assets/images/banner-bottom-mobile.jpg 856w"
                width="856" height="1720" sizes="(max-width: 856px) 100vw, 856px"
                alt="banner-bottom-mobile" /></picture>
    </div>
    <div class="motto_content container_content">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 col-12 motto_content_inner js-cursor-extend">
                <div>
                    <p class="text-center mb-0 h6 js-anim--lines--sim secondary-font" data-offset=".2">KNOW
                        THIS
                    </p>
                    <p class="text-center motto_content_heading h1 mb-0 js-anim--chars primary-font"
                        data-offset=".2">LESS IS MORE</p>
                    <p class="desc text-center mb-0 js-anim--lines--sim secondary-font" data-offset=".2">
                        PAUL
                        RAND</p>
                </div>
            </div>
        </div>
    </div>
</div>