<div class="motto motto__red">
    <div class="motto_content container_content">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 col-12 motto_content_inner">
                <div class="motto-content-wrap-red">
                    <p class="text-center h6 text-dark mb-0">KNOW THIS</p>
                    <p class="text-center motto_content_heading h1 text-dark mb-0">Be different</p>
                    <p class="desc text-center text-dark mb-0">PAUL RAND</p>
                </div>
            </div>
        </div>
    </div>
</div>