<div class="contact contact__red container_content op-0">
    <div class="row">
        <div class="col-lg-8 col-sm-10 col-12 offset-lg-2 offset-sm-1">
            <p class="contact_label body-text text-uppercase text-dark">Connect</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-5 offset-lg-2 offset-sm-1 col-12">
            <ul class="ul__reset">
                <li class="heading-mask social-link js-cursor-contract heading-mask__now h3"><a
                        href="https://dribbble.com/phamduyminh" class="text-dark contact_link primary-font"
                        target="_blank">i dont HAVE AWWWARDS sry</a></li>
                <li class="heading-mask social-link js-cursor-contract heading-mask__now h3"><a
                        href="https://www.youtube.com/@MinhPhamDesign"
                        class="text-dark contact_link primary-font" target="_blank">TALK TO ME HERE</a></li>
                <li class="heading-mask social-link js-cursor-contract heading-mask__now h3"><a
                        href="https://www.linkedin.com/in/minh-pham-9b67ba52/"
                        class="text-dark contact_link primary-font" target="_blank">INCOMING</a></li>
                        <li class="heading-mask social-link js-cursor-contract heading-mask__now h3"><a
                            href="https://www.linkedin.com/in/minh-pham-9b67ba52/"
                            class="text-dark contact_link primary-font" target="_blank">WORK IN PROGRESS</a></li>
                    </ul>
        </div>
        <div class="col-lg-3 col-sm-5 col-12">
            <ul class="ul__reset">
                <li class="heading-mask social-link js-cursor-contract heading-mask__now h3"><a
                        href="https://www.instagram.com/minhpham.design"
                        class="text-dark contact_link primary-font" target="_blank">COMING SOON</a></li>
                <li class="heading-mask social-link js-cursor-contract heading-mask__now h3"><a
                        href="https://www.facebook.com/pham.d.minh" class="text-dark contact_link primary-font"
                        target="_blank">WHY NOT try</a></li>
                <li class="heading-mask social-link js-cursor-contract heading-mask__now h3"><a
                        href="https://www.behance.net/phamduyminh" class="text-dark contact_link primary-font"
                        target="_blank">FIND ME HERE</a></li>
                        <li class="heading-mask social-link js-cursor-contract heading-mask__now h3"><a
                            href="https://www.behance.net/phamduyminh" class="text-dark contact_link primary-font"
                            target="_blank">And stay focused</a></li>
                    </ul>
        </div>
        <div class="col-lg-3 col-12 contact_content">
            <div class="row">
                <div class="col-lg-12 col-sm-5 offset-lg-0 offset-sm-1 col-12">
                    <div
                        class="heading-mask contact_info contact_info__red contact_info__top js-cursor-contract heading-mask__now">
                        <span class="h4 d-block text-dark">MAIL</span> <a
                            class="sub-content text-dark"
                            href="mailto:keridesign@gmail.com"><span
                                class="__cf_email__">KERIADESIGN@GMAIL.COM</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>