<div class="client js-client" id="client">
    <div class="row client_info">
        <div class="col-lg-9 col-sm-10 offset-lg-2 offset-sm-1 col-12">
            <div class="client_content client-service-desk-box container_content js-cursor-extend">
                <p class="client_content_label body-text text-uppercase subtitle-color2 secondary-font">WHAT
                    I
                    DO</p>
                <div class="client_content_desc h2">
                    <div class="scroll-paragraph-mask js-scroll-paragraph-mask title-color2 secondary-font">
                        I place a strong emphasis on producing <strong>work of utmost
                            excellence</strong> and consider myself a versatile designer, with a
                        focus on website design and 3D.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="client_list">
        <div class="client_list_3d" data-lenis-speed=".1">
            <div class="js-client_list_3d client_list_3d_inner"></div>
            <div class="client_list_3d_image"><img src="images/planet-1-2.png" alt="planet"></div>
        </div>
        <div class="client_list_inner">
            <div class="heading-mask js-heading-mask">
                <div class="heading-mask_el heading-mask_el__deep">
                    <div class="row align-items-center">
                        <div class="col-lg-10 col-sm-11  offset-lg-2 offset-sm-1 col-12">
                            <div class="simple-masking overflow-hidden">
                                <div class="simple-masking_el js-simple-masking_el js-cursor-contract">
                                    <h2
                                        class="h1 mb-0 js-heading-mask_heading container_content none-break title-color3  primary-font">
                                        3D</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="heading-mask_el heading-mask_el__masking">
                    <div class="row align-items-center">
                        <div class="col-sm-10 offset-lg-2 offset-sm-1 col-12">
                            <div class="simple-masking overflow-hidden">
                                <div class="simple-masking_el">
                                    <h2
                                        class="h1 mb-0 text-dark none-break none-break works-heading-mask-title primary-font">
                                        Undertaking the creation of projects that demand
                                        advanced 3D expertise</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="heading-mask js-heading-mask">
                <div class="heading-mask_el heading-mask_el__deep">
                    <div class="row align-items-center">
                        <div class="col-lg-10 col-sm-11  offset-lg-2 offset-sm-1 col-12">
                            <div class="simple-masking overflow-hidden">
                                <div class="simple-masking_el js-simple-masking_el js-cursor-contract">
                                    <h2
                                        class="h1 mb-0 js-heading-mask_heading container_content none-break primary-font">
                                        DESIGN WEB</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="heading-mask_el heading-mask_el__masking container_content">
                    <div class="row align-items-center">
                        <div class="col-sm-10 offset-lg-2 offset-sm-1 col-12">
                            <div class="simple-masking overflow-hidden">
                                <div class="simple-masking_el">
                                    <h2
                                        class="h1 mb-0 text-dark none-break works-heading-mask-title primary-font">
                                        Creating customized websites of any kind, tailored to
                                        specific requirements</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="heading-mask js-heading-mask">
                <div class="heading-mask_el heading-mask_el__deep">
                    <div class="row align-items-center">
                        <div class="col-lg-10 col-sm-11  offset-lg-2 offset-sm-1 col-12">
                            <div class="simple-masking overflow-hidden">
                                <div class="simple-masking_el js-simple-masking_el js-cursor-contract">
                                    <h2
                                        class="h1 mb-0 js-heading-mask_heading container_content none-break title-color3 primary-font">
                                        BRANDING</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="heading-mask_el heading-mask_el__masking container_content">
                    <div class="row align-items-center">
                        <div class="col-sm-10 offset-lg-2 offset-sm-1 col-12">
                            <div class="simple-masking overflow-hidden">
                                <div class="simple-masking_el">
                                    <h2
                                        class="h1 mb-0 text-dark none-break works-heading-mask-title primary-font">
                                        Development of a brand in its entirety</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="heading-mask js-heading-mask">
                <div class="heading-mask_el heading-mask_el__deep">
                    <div class="row align-items-center">
                        <div class="col-lg-10 col-sm-11  offset-lg-2 offset-sm-1 col-12">
                            <div class="simple-masking overflow-hidden">
                                <div class="simple-masking_el js-simple-masking_el js-cursor-contract">
                                    <h2
                                        class="h1 mb-0 js-heading-mask_heading container_content none-break title-color3 primary-font">
                                        MOTION</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="heading-mask_el heading-mask_el__masking container_content">
                    <div class="row align-items-center">
                        <div class="col-sm-10 offset-lg-2 offset-sm-1 col-12">
                            <div class="simple-masking overflow-hidden">
                                <div class="simple-masking_el">
                                    <h2
                                        class="h1 mb-0 text-dark none-break works-heading-mask-title primary-font">
                                        Creation of various types of animations, videos, and
                                        editing</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="heading-mask js-heading-mask">
                <div class="heading-mask_el heading-mask_el__deep">
                    <div class="row align-items-center">
                        <div class="col-lg-10  offset-lg-2 col-sm-11 offset-sm-1 col-12">
                            <div class="simple-masking overflow-hidden">
                                <div class="simple-masking_el js-simple-masking_el js-cursor-contract">
                                    <h2
                                        class="h1 mb-0 js-heading-mask_heading container_content none-break primary-font">
                                        PRODUCT MARKET</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="heading-mask_el heading-mask_el__masking">
                    <div class="row align-items-center">
                        <div class="col-sm-10 offset-lg-2 offset-sm-1 col-12">
                            <div class="simple-masking overflow-hidden">
                                <div class="simple-masking_el">
                                    <h2
                                        class="h1 mb-0 text-dark none-break works-heading-mask-title primary-font">
                                        Market centered design leads to success</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="heading-mask js-heading-mask">
                <div class="heading-mask_el heading-mask_el__deep">
                    <div class="row align-items-center">
                        <div class="col-lg-10  offset-lg-2 col-sm-11 offset-sm-1 col-12">
                            <div class="simple-masking overflow-hidden">
                                <div class="simple-masking_el js-simple-masking_el js-cursor-contract">
                                    <h2
                                        class="h1 mb-0 js-heading-mask_heading container_content none-break primary-font">
                                        VISUAL</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="heading-mask_el heading-mask_el__masking container_content">
                    <div class="row align-items-center">
                        <div class="col-sm-10 offset-lg-2 offset-sm-1 col-12">
                            <div class="simple-masking overflow-hidden">
                                <div class="simple-masking_el">
                                    <h2
                                        class="h1 mb-0 text-dark none-break works-heading-mask-title primary-font">
                                        The power of visuals lies in their ability to tell a
                                        story without saying a word</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-sm-11   offset-lg-2 offset-sm-1 col-12">
                <div class="dots container_content primary-font"><span></span> <span></span> <span></span>
                </div>
            </div>
        </div>
    </div>
</div>