<div class="client client__red">
    <div class="row client_info">
        <div class="col-lg-9 col-sm-10 offset-lg-2 offset-sm-1 col-12">
            <div class="client_content client-service-desk-box container_content text-dark">
                <p class="client_content_label body-text text-uppercase secondary-font">WHAT I DO</p>
                <div class="client_content_desc h2">
                    <div class="scroll-paragraph-mask secondary-font">
                        Nowadays, it is unfortunate to observe that many designers seem to have lost
                        sight of the importance of meticulous and high-quality work, which is truly
                        a loss.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="client_list op-0 text-dark">
        <div class="client_list_inner">
            <div class="heading-mask">
                <div class="heading-mask_el heading-mask_el__deep container_content">
                    <div class="row align-items-center">
                        <div class="col-sm-6 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                            <div class="simple-masking overflow-hidden">
                                <h2 class="h1 mb-0 none-break primary-font">3D</h2>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="heading-mask_el heading-mask_el__masking">
                    <div class="row align-items-center">
                        <div class="col-sm-6 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                            <div class="simple-masking overflow-hidden">
                                <h2 class="h1 mb-0 text-dark none-break none-break works-heading-mask-title primary-font">
                                Undertaking the creation of projects that demand
                                advanced 3D expertise</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="heading-mask">
                <div class="heading-mask_el heading-mask_el__deep container_content">
                    <div class="row align-items-center">
                        <div class="col-sm-6 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                            <div class="simple-masking overflow-hidden">
                                <h2 class="h1 mb-0 none-break primary-font">DESIGN WEB</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="heading-mask_el heading-mask_el__masking">
                    <div class="row align-items-center">
                        <div class="col-sm-6 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                            <div class="simple-masking overflow-hidden">
                                <h2 class="h1 mb-0 text-dark none-break works-heading-mask-title primary-font">
                                Creating customized websites of any kind, tailored to
                                specific requirements</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="heading-mask">
                <div class="heading-mask_el heading-mask_el__deep container_content">
                    <div class="row align-items-center">
                        <div class="col-sm-6 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                            <div class="simple-masking overflow-hidden">
                                <h2 class="h1 mb-0 none-break primary-font">BRANDING</h2>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="heading-mask_el heading-mask_el__masking">
                    <div class="row align-items-center">
                        <div class="col-sm-6 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                            <div class="simple-masking overflow-hidden">
                                <h2 class="h1 mb-0 text-dark none-break works-heading-mask-title primary-font">
                                            Development of a brand in its entirety</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="heading-mask">
                <div class="heading-mask_el heading-mask_el__deep container_content">
                    <div class="row align-items-center">
                        <div class="col-sm-6 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                            <div class="simple-masking overflow-hidden">
                                <h2 class="h1 mb-0 none-break primary-font">MOTION</h2>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="heading-mask_el heading-mask_el__masking">
                    <div class="row align-items-center">
                        <div class="col-sm-6 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                            <div class="simple-masking overflow-hidden">
                                <h2 class="h1 mb-0 text-dark none-break works-heading-mask-title primary-font">
                                Creation of various types of animations, videos, and
                                editing</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="heading-mask">
                <div class="heading-mask_el heading-mask_el__deep container_content">
                    <div class="row align-items-center">
                        <div class="col-sm-6 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                            <div class="simple-masking overflow-hidden">
                                <h2 class="h1 mb-0 none-break primary-font">PRODUCT MARKET</h2>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="heading-mask_el heading-mask_el__masking">
                    <div class="row align-items-center">
                        <div class="col-sm-6 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                            <div class="simple-masking overflow-hidden">
                                <h2 class="h1 mb-0 text-dark none-break works-heading-mask-title primary-font">
                                            Market centered design leads to success</h2>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="heading-mask">
                <div class="heading-mask_el heading-mask_el__deep container_content">
                    <div class="row align-items-center">
                        <div class="col-sm-6 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                            <div class="simple-masking overflow-hidden">
                                <h2 class="h1 mb-0 none-break primary-font">VISUAL</h2>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="heading-mask_el heading-mask_el__masking">
                    <div class="row align-items-center">
                        <div class="col-sm-6 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                            <div class="simple-masking overflow-hidden">
                                <h2 class="h1 mb-0 text-dark none-break works-heading-mask-title primary-font">
                                            The power of visuals lies in their ability to tell a
                                            story without saying a word</h2>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-lg-2 offset-sm-1 col-12">
                <div class="dots container_content"><span></span> <span></span> <span></span></div>
            </div>
        </div>
    </div>
</div>