<div class="work">
    <div class="row work_experience">
        <div class="work_bg" data-lenis-speed=".5">
            <picture class="image__object-fit d-lg-block d-none"><img
                    src="images/5829e190c6452f6554f29485367d35ed.png" class="js-image--lazy"
                    data-srcset="images/work-400.jpg 400w, assets/images/work-800.jpg 800w, assets/images/work-1200.jpg 1200w, assets/images/work-1600.jpg 1600w, assets/images/work-2400.jpg 2400w, assets/images/work.jpg 3456w"
                    width="1728" height="1008" sizes="(max-width: 1728px) 100vw, 1728px" alt="work" />
            </picture>
            <picture class="image__object-fit d-lg-none d-block"><img src="images/work-mobile-50.jpg"
                    class="js-image--lazy"
                    data-srcset="images/work-mobile-400.jpg 400w, assets/images/work-mobile-800.jpg 800w, assets/images/work-mobile.jpg 858w"
                    width="429" height="914" sizes="(max-width: 429px) 100vw, 914px" alt="work-mobile" />
            </picture>
        </div>
        <div class="col-lg-8 col-sm-10 offset-lg-2 offset-sm-1 col-12">
            <div class="work_content my-story-wrapper-box container_content js-cursor-extend">
                <p class="work_content_label body-text text-uppercase subtitle-color2 secondary-font">MY
                    STORY
                </p>
                <div class="work_content_desc h2">
                    <div class="scroll-paragraph-mask js-scroll-paragraph-mask title-color2 secondary-font">
                        I realized small jobs weren't for me, creating video game montages
                        sparked <strong>my true passion</strong> for web design. Now, four years
                        later, I am here.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="skills" class="work_history">
        <div class="row work_heading work_history_heading">
            <div class="col-lg-8 col-sm-10 offset-lg-2 offset-sm-1 col-12">
                <p
                    class="work_content_label container_content body-text text-uppercase mb-0 subtitle-color3 secondary-font">
                    MY SKILLS</p>
                <!-- <h3 class="h2 mb-1">MY DESIGN Skills </h3> -->
            </div>
        </div>
        <div class="heading-mask heading-mask__now">
            <div class="heading-mask_el container_content heading-mask_el__deep">
                <div class="row align-items-center">
                    <div class="col-sm-2 offset-lg-2 offset-sm-1 col-4">
                        <div class="simple-masking">
                            <div class="simple-masking_el"><span
                                    class="h3 mb-1 color-white skils-item-title primary-font">3D</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 col-8">
                        <div class="simple-masking_el js-simple-masking_el js-cursor-contract">
                            <p class="h3 mb-1 skils-item-sub-title primary-font">Creation of a digital world
                            </p>
                            <p class="mb-0 desc font-400 secondary-font">Model animation, texturing,
                                environment design for virtual worlds</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="heading-mask_el container_content heading-mask_el__masking">
                <div class="row align-items-center">
                    <div class="col-sm-2 offset-lg-2 offset-sm-1 col-4">
                        <div class="simple-masking">
                            <div class="simple-masking_el"><span
                                    class="h3 mb-1 text-dark skils-item-title primary-font">3D</span></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 col-8">
                        <div class="simple-masking_el">
                            <p class="h3 mb-1 text-dark skils-item-sub-title primary-font">3D design is the
                                visual language <br> of innovation and creativity</p>
                            <!-- <p class="mb-0 desc font-400 text-dark">Fantasy Interactive</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="heading-mask">
            <div class="heading-mask_el container_content heading-mask_el__deep">
                <div class="row align-items-center">
                    <div class="col-sm-2 offset-lg-2 offset-sm-1 col-4">
                        <div class="simple-masking">
                            <div class="simple-masking_el"><span
                                    class="h3 mb-1 color-white skils-item-title primary-font">WEBDESIGN</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 col-8">
                        <div class="simple-masking_el js-simple-masking_el js-cursor-contract">
                            <p class="h3 mb-1 skils-item-sub-title primary-font">User experience & interface
                            </p>
                            <p class="mb-0 desc font-400 secondary-font">Creating visually appealing user
                                interfaces with excellent user experience</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="heading-mask_el container_content heading-mask_el__masking">
                <div class="row align-items-center">
                    <div class="col-sm-2 offset-lg-2 offset-sm-1 col-4">
                        <div class="simple-masking">
                            <div class="simple-masking_el"><span
                                    class="h3 mb-1 text-dark skils-item-title primary-font">WEBDESIGN</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 col-8">
                        <div class="simple-masking_el">
                            <p class="h3 mb-1 text-dark skils-item-sub-title primary-font">Web design is the
                                art of <br> transforming pixels into emotions</p>
                            <!-- <p class="mb-0 desc font-400 text-dark">Interactive Labs</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="heading-mask">
            <div class="heading-mask_el container_content heading-mask_el__deep">
                <div class="row align-items-center">
                    <div class="col-sm-2 offset-lg-2 offset-sm-1 col-4">
                        <div class="simple-masking">
                            <div class="simple-masking_el"><span
                                    class="h3 mb-1 color-white skils-item-title primary-font">VISUAL</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 col-8">
                        <div class="simple-masking_el js-simple-masking_el js-cursor-contract">
                            <p class="h3 mb-1 skils-item-sub-title primary-font">Good sense of aesthetic
                                taste</p>
                            <p class="mb-0 desc font-400 secondary-font">The ability to differentiate
                                between
                                beautiful and ugly things</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="heading-mask_el container_content heading-mask_el__masking">
                <div class="row align-items-center">
                    <div class="col-sm-2 offset-lg-2 offset-sm-1 col-4">
                        <div class="simple-masking">
                            <div class="simple-masking_el"><span
                                    class="h3 mb-1 text-dark skils-item-title primary-font">VISUAL</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 col-8">
                        <div class="simple-masking_el">
                            <p class="h3 mb-1 text-dark skils-item-sub-title primary-font">Visual creates
                                impact, impact <br> creates memory</p>
                            <!-- <p class="mb-0 desc font-400 text-dark">DR Com Group</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="heading-mask">
            <div class="heading-mask_el container_content heading-mask_el__deep">
                <div class="row align-items-center">
                    <div class="col-sm-2 offset-lg-2 offset-sm-1 col-4">
                        <div class="simple-masking">
                            <div class="simple-masking_el"><span
                                    class="h3 mb-1 color-white skils-item-title primary-font">BRANDING</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 col-8">
                        <div class="simple-masking_el js-simple-masking_el js-cursor-contract">
                            <p class="h3 mb-1 skils-item-sub-title primary-font">BRANDIBG MATTERS ALWAYS</p>
                            <p class="mb-0 desc font-400 secondary-font">Design of a brand in its entire
                                process ine the interet of all the comunity </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="heading-mask_el container_content heading-mask_el__masking">
                <div class="row align-items-center">
                    <div class="col-sm-2 offset-lg-2 offset-sm-1 col-4">
                        <div class="simple-masking">
                            <div class="simple-masking_el"><span
                                    class="h3 mb-1 text-dark skils-item-title primary-font">BRANDING</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 col-8">
                        <div class="simple-masking_el">
                            <p class="h3 mb-1 text-dark skils-item-sub-title primary-font">Branding and
                                design come together to create a visual <br> symphony that
                                leaves a memorable impression</p>
                            <!-- <p class="mb-0 desc font-400 text-dark">DR Com Group</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>