<div class="work work__red">
    <div class="row work_experience">
        <div class="col-lg-8 col-sm-10 offset-lg-2 offset-sm-1 col-12">
            <div class="work_content my-story-wrapper-box container_content">
                <p class="work_content_label body-text text-uppercase text-dark secondary-font">MY STORY</p>
                <div class="work_content_desc h2">
                    <div class="scroll-paragraph-mask text-dark secondary-font">
                        Since my childhood, I have always enjoyed creating things. This innate
                        passion, combined with my love for fashion and beautiful things, has
                        naturally led to my current career.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="work_history op-0">
        <div class="row work_heading work_history_heading">
            <div class="col-lg-8 col-sm-10 offset-lg-2 offset-sm-1 col-12">
                <p
                    class="work_content_label body-text text-uppercase container_content mb-0 text-dark secondary-font">
                    MY SKILLS</p>
            </div>
        </div>
        <div class="heading-mask heading-mask__now">
            <div class="heading-mask_el container_content heading-mask_el__deep">
                <div class="row">
                    <div class="col-sm-2 offset-lg-2 offset-sm-1 col-4">
                        <div class="simple-masking">
                            <div class="simple-masking_el"><span
                                    class="h3 mb-1 text-dark primary-font">3D</span></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 col-8">
                        <div class="simple-masking_el">
                            <p class="h3 mb-1 skils-item-sub-title text-dark primary-font">Creation of a digital world
                            </p>
                            <p class="mb-0 desc font-400 text-dark secondary-font">Model animation, texturing,
                                environment design for virtual worlds</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="heading-mask_el container_content heading-mask_el__masking">
                <div class="row">
                    <div class="col-sm-2 offset-lg-2 offset-sm-1 col-4">
                        <div class="simple-masking">
                            <div class="simple-masking_el"><span
                                    class="h3 mb-1 text-dark primary-font">3D</span></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 col-8">
                        <div class="simple-masking_el">
                            <p class="h3 mb-1 text-dark skils-item-sub-title primary-font">3D design is the
                                visual language <br> of innovation and creativity</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="heading-mask">
            <div class="heading-mask_el container_content heading-mask_el__deep">
                <div class="row">
                    <div class="col-sm-2 offset-lg-2 offset-sm-1 col-4">
                        <div class="simple-masking">
                            <div class="simple-masking_el"><span
                                    class="h3 mb-1 text-dark primary-font">WEBDESIGN</span></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 col-8">
                        <div class="simple-masking_el">
                            <p class="h3 mb-1 skils-item-sub-title text-dark primary-font">User experience & interface
                            </p>
                            <p class="mb-0 desc font-400 text-dark secondary-font">Creating visually appealing user
                                interfaces with excellent user experience</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="heading-mask_el container_content heading-mask_el__masking">
                <div class="row">
                    <div class="col-sm-2 offset-lg-2 offset-sm-1 col-4">
                        <div class="simple-masking">
                            <div class="simple-masking_el"><span
                                    class="h3 mb-1 text-dark primary-font">WEBDESIGN</span></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 col-8">
                        <div class="simple-masking_el">
                            <p class="h3 mb-1 text-dark skils-item-sub-title primary-font">Web design is the
                                art of <br> transforming pixels into emotions</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="heading-mask">
            <div class="heading-mask_el container_content heading-mask_el__deep">
                <div class="row">
                    <div class="col-sm-2 offset-lg-2 offset-sm-1 col-4">
                        <div class="simple-masking">
                            <div class="simple-masking_el"><span
                                    class="h3 mb-1 text-dark primary-font">VISUAL</span></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 col-8">
                        <div class="simple-masking_el">
                            <p class="h3 mb-1 skils-item-sub-title text-dark primary-font">Good sense of aesthetic
                                taste</p>
                            <p class="mb-0 desc font-400 text-dark secondary-font">The ability to differentiate between
                                beautiful and ugly things</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="heading-mask_el container_content heading-mask_el__masking">
                <div class="row">
                    <div class="col-sm-2 offset-lg-2 offset-sm-1 col-4">
                        <div class="simple-masking">
                            <div class="simple-masking_el"><span
                                    class="h3 mb-1 text-dark primary-font">VISUAL</span></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 col-8">
                        <div class="simple-masking_el">
                            <p class="h3 mb-1 text-dark skils-item-sub-title primary-font">Visual creates
                                impact, impact <br> creates memory</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="heading-mask">
            <div class="heading-mask_el container_content heading-mask_el__deep">
                <div class="row">
                    <div class="col-sm-2 offset-lg-2 offset-sm-1 col-4">
                        <div class="simple-masking">
                            <div class="simple-masking_el"><span
                                    class="h3 mb-1 text-dark primary-font">BRANDING</span></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 col-8">
                        <div class="simple-masking_el">
                            <p class="h3 mb-1 skils-item-sub-title primary-font">BRANDIBG MATTERS ALWAYS</p>
                                <p class="mb-0 desc font-400 secondary-font">Design of a brand in its entire
                                    process ine the interet of all the comunity </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="heading-mask_el container_content heading-mask_el__masking">
                <div class="row">
                    <div class="col-sm-2 offset-lg-2 offset-sm-1 col-4">
                        <div class="simple-masking">
                            <div class="simple-masking_el"><span
                                    class="h3 mb-1 text-dark primary-font">BRANDING</span></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 col-8">
                        <div class="simple-masking_el">
                            <p class="h3 mb-1 text-dark skils-item-sub-title primary-font">Branding and
                                design come together to create a visual <br> symphony that
                                leaves a memorable impression</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>