<div id="work" class="about_ido">
    <div class="js-about_ido_coffee about_ido_coffee">
        <div class="js-about_ido_inner about_ido_inner" data-lenis-speed=".1"><img
                src="images/jordan4.png" alt=""></div>
    </div>
    <div class="js-about_ido_mouse about_ido_mouse">
        <div class="js-about_ido_inner about_ido_inner" data-lenis-speed="-.1"><img
                src="images/sac-lv-bag.png" alt=""></div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-sm-10 offset-lg-2 offset-sm-1 col-12">
            <p
                class="about_content_label container_content body-text text-uppercase subtitle-color3 secondary-font">
                MY
                WORKS</p>
        </div>
    </div>
    <div class="heading-mask js-heading-mask">
        <div class="heading-mask_el heading-mask_el__deep container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12">
                    <div class="simple-masking">
                        <div
                            class="js-simple-masking_el simple-masking_el js-cursor-contract">
                            <h2 class="h1 mb-0 js-heading-mask_heading title-color3 primary-font">M4</h2>
                        </div>
                    </div>
                </div>
                <div class="col-5 op-0 d-lg-block d-none">
                    <p class="mb-0 desc primary-font works-subtitle">I can produce anything that my 16” laptop can
                        render</p>
                </div>
            </div>
        </div>
        <div class="heading-mask_el heading-mask_el__masking container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12">
                    <div class="simple-masking overflow-hidden">
                        <div class="simple-masking_el">
                            <h2 class="h1 mb-0 text-dark primary-font">BMW</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 col-12 text-dark d-sm-block d-none">
                    <p class="mb-0 desc primary-font works-subtitle">CONCEPT CAR WEBSITE ENVIRONNEMEnt BMW M4
                        COMPEtitiON </p>
                </div>
            </div>
        </div>
    </div>
    <div class="heading-mask js-heading-mask">
        <div class="heading-mask_el heading-mask_el__deep container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12">
                    <div class="simple-masking">
                        <div
                            class="js-simple-masking_el simple-masking_el js-cursor-contract">
                            <h2 class="h1 mb-0 js-heading-mask_heading primary-font">SPIDERMAN</h2>
                        </div>
                    </div>
                </div>
                <div class="col-5 op-0 d-lg-block d-none">
                    <p class="mb-0 desc primary-font works-subtitle">I search the internet for visual references and
                        then combine them to create my own work.</p>
                </div>
            </div>
        </div>
        <div class="heading-mask_el heading-mask_el__masking container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12">
                    <div class="simple-masking overflow-hidden">
                        <div class="simple-masking_el">
                            <h2 class="h1 mb-0 text-dark primary-font">Visual</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 col-12 text-dark d-sm-block d-none">
                    <p class="mb-0 desc primary-font works-subtitle">I search the internet for visual references and
                        then combine them to create my own work.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="heading-mask js-heading-mask">
        <div class="heading-mask_el heading-mask_el__deep container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12">
                    <div class="simple-masking">
                        <div
                            class="js-simple-masking_el simple-masking_el js-cursor-contract">
                            <h2 class="h1 mb-0 js-heading-mask_heading title-color3 primary-font">
                                butcherSHOP</h2>
                        </div>
                    </div>
                </div>
                <div class="col-5 op-0 d-lg-block d-none">
                    <p class="mb-0 desc primary-font works-subtitle">I use fancy motion that makes my design more
                        interesting than it actually is</p>
                </div>
            </div>
        </div>
        <div class="heading-mask_el heading-mask_el__masking container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12">
                    <div class="simple-masking overflow-hidden">
                        <div class="simple-masking_el">
                            <h2 class="h1 mb-0 text-dark primary-font">Motion</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 col-12 text-dark d-sm-block d-none">
                    <p class="mb-0 desc primary-font works-subtitle">I use fancy motion that makes my design more
                        interesting than it actually is</p>
                </div>
            </div>
        </div>
    </div>
    <div class="heading-mask js-heading-mask">
        <div class="heading-mask_el heading-mask_el__deep container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12">
                    <div class="simple-masking">
                        <div
                            class="js-simple-masking_el simple-masking_el js-cursor-contract">
                            <h2 class="h1 mb-0 js-heading-mask_heading primary-font">NEPTUNE</h2>
                        </div>
                    </div>
                </div>
                <div class="col-5 op-0 d-lg-block d-none">
                    <p class="mb-0 desc primary-font works-subtitle">I utilize common design best practices, test, and
                        re-iterate until it works (hopefully).</p>
                </div>
            </div>
        </div>
        <div class="heading-mask_el heading-mask_el__masking container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12">
                    <div class="simple-masking overflow-hidden">
                        <div class="simple-masking_el">
                            <h2 class="h1 mb-0 text-dark primary-font">Product</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 col-12 text-dark d-sm-block d-none">
                    <p class="mb-0 desc primary-font works-subtitle">I utilize common design best practices, test, and
                        re-iterate until it works (hopefully).</p>
                </div>
            </div>
        </div>
    </div>
    <div class="heading-mask js-heading-mask">
        <div class="heading-mask_el heading-mask_el__deep container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12">
                    <div class="simple-masking">
                        <div
                            class="js-simple-masking_el simple-masking_el js-cursor-contract">
                            <h2 class="h1 mb-0 js-heading-mask_heading title-color3 primary-font">
                                BLUEWATER</h2>
                        </div>
                    </div>
                </div>
                <div class="col-5 op-0 d-lg-block d-none primary-font">
                    <p class="mb-0 desc works-subtitle primary-font">I thought I’d make millions of $ from Youtube but I
                        didn’t</p>
                </div>
            </div>
        </div>
        <div class="heading-mask_el heading-mask_el__masking container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12">
                    <div class="simple-masking overflow-hidden">
                        <div class="simple-masking_el">
                            <h2 class="h1 mb-0 text-dark primary-font">Tutorial</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 col-12 text-dark d-sm-block d-none">
                    <p class="mb-0 desc primary-font works-subtitle">I thought I’d make millions of $ from Youtube but I
                        didn’t</p>
                </div>
            </div>
        </div>
    </div>
</div>