<div class="about_ido op-0">
    <div class="row">
        <div class="col-lg-8 col-sm-10 col-12 offset-lg-2 offset-sm-1">
            <p class="about_content_label container_content body-text text-uppercase text-dark">
                MY WORKS</p>
        </div>
    </div>
    <div class="heading-mask">
        <div class="heading-mask_el heading-mask_el__deep container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                    <div class="simple-masking overflow-hidden">
                        <h2 class="h1 mb-0 text-dark primary-font">3D</h2>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 col-12 text-dark d-lg-none d-block">
                    <p class="mb-0 desc primary-font text-dark works-subtitle text-dark">I can produce anything that my
                        16”<br />laptop can render</p>
                </div>
            </div>
        </div>
        <div
            class="heading-mask_el heading-mask_el__masking container_content container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                    <div class="simple-masking overflow-hidden">
                        <h2 class="h1 mb-0 text-dark primary-font">3D</h2>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 col-12 text-dark d-lg-none d-block">
                    <p class="mb-0 desc primary-font text-dark works-subtitle">I can produce anything that my 16”<br />laptop can
                        render</p>
                </div>
            </div>
        </div>
    </div>
    <div class="heading-mask">
        <div class="heading-mask_el heading-mask_el__deep container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                    <div class="simple-masking overflow-hidden">
                        <h2 class="h1 mb-0 text-dark primary-font">Visual</h2>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 col-12 text-dark d-lg-none d-block">
                    <p class="mb-0 desc text-dark primary-font works-subtitle">I search the internet for visual references
                        and then combine them to create my own work.</p>
                </div>
            </div>
        </div>
        <div
            class="heading-mask_el heading-mask_el__masking container_content container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                    <div class="simple-masking overflow-hidden">
                        <h2 class="h1 mb-0 text-dark primary-font">Visual</h2>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 col-12 text-dark d-lg-none d-block">
                    <p class="mb-0 desc primary-font text-dark works-subtitle">I search the internet for visual references and then
                        combine them to create my own work.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="heading-mask">
        <div class="heading-mask_el heading-mask_el__deep container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                    <div class="simple-masking overflow-hidden">
                        <h2 class="h1 mb-0 text-dark primary-font">Motion</h2>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 col-12 text-dark d-lg-none d-block">
                    <p class="mb-0 desc text-dark primary-font works-subtitle">I use fancy motion that makes my design more
                        interesting than it actually is</p>
                </div>
            </div>
        </div>
        <div
            class="heading-mask_el heading-mask_el__masking container_content container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                    <div class="simple-masking overflow-hidden">
                        <h2 class="h1 mb-0 text-dark primary-font">Motion</h2>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 col-12 text-dark d-lg-none d-block">
                    <p class="mb-0 desc primary-font text-dark works-subtitle">I use fancy motion that makes my design more
                        interesting than it actually is</p>
                </div>
            </div>
        </div>
    </div>
    <div class="heading-mask">
        <div class="heading-mask_el heading-mask_el__deep container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                    <div class="simple-masking overflow-hidden">
                        <h2 class="h1 mb-0 text-dark primary-font">Product</h2>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 col-12 text-dark d-lg-none d-block">
                    <p class="mb-0 desc text-dark primary-font works-subtitle">I utilize common design best practices, test,
                        and re-iterate until it works (hopefully).</p>
                </div>
            </div>
        </div>
        <div
            class="heading-mask_el heading-mask_el__masking container_content container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                    <div class="simple-masking overflow-hidden">
                        <h2 class="h1 mb-0 text-dark primary-font">Product</h2>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 col-12 text-dark d-lg-none d-block">
                    <p class="mb-0 desc primary-font text-dark works-subtitle">I utilize common design best practices, test, and
                        re-iterate until it works (hopefully).</p>
                </div>
            </div>
        </div>
    </div>
    <div class="heading-mask">
        <div class="heading-mask_el heading-mask_el__deep container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                    <div class="simple-masking overflow-hidden">
                        <h2 class="h1 mb-0 text-dark primary-font">Tutorial</h2>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 col-12 text-dark d-lg-none d-block">
                    <p class="mb-0 desc text-dark primary-font works-subtitle">I thought I’d make millions of $ from
                        Youtube<br />but I didn’t</p>
                </div>
            </div>
        </div>
        <div
            class="heading-mask_el heading-mask_el__masking container_content container_content">
            <div class="row align-items-center">
                <div class="col-sm-4 offset-lg-2 offset-sm-1 col-12 d-sm-block d-none">
                    <div class="simple-masking overflow-hidden">
                        <h2 class="h1 mb-0 text-dark primary-font">Tutorial</h2>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 col-12 text-dark d-lg-none d-block">
                    <p class="mb-0 desc primary-font text-dark works-subtitle">I thought I’d make millions of $ from Youtube<br />but
                        I didn’t</p>
                </div>
            </div>
        </div>
    </div>
</div>