<audio loop class="js-web-sound" src="../../assets/mp3/audio-site.mp3"></audio>
<footer id="js-footer" class="footer">
    <ul class="footer_socials ul__reset">
        <li class="social js-social"><a class="social_link social_link__instagram"
                href="https://www.instagram.com/minhpham.design" target="_blank"
                aria-label="Visit my Instagram profile"><img src="icons/ic-ig.svg" class="svg"
                    alt="Instagram icon"></a></li>
        <li class="social js-social"><a class="social_link social_link__linkedin"
                href="https://www.linkedin.com/in/minh-pham-9b67ba52/" target="_blank"
                aria-label="Visit my LinkedIn profile"><img src="icons/ic-in.svg" class="svg"
                    alt="LinkedIn icon"></a></li>
        <li class="social js-social"><a class="social_link social_link__youtube"
                href="https://www.youtube.com/@MinhPhamDesign" target="_blank"
                aria-label="Visit my YouTube channel"><img src="icons/ic-ytb.svg" class="svg"
                    alt="YouTube icon"></a></li>
        <li class="social js-social"><a class="social_link social_link__dribbble"
                href="https://dribbble.com/phamduyminh" target="_blank"
                aria-label="Visit my Dribbble profile"><img src="icons/ic-dribbble.svg" class="svg"
                    alt="Dribbble icon"></a></li>
    </ul>
</footer>