        <!-- ===============================================
          header section start  
    ======================================-->
    <header class="header js-header">
        <div class="header_logo js-header_logo"><a class="link-logo" aria-label="Home page" href="/"><img
                    class="svg" src="images/barnd-logo.svg" alt="logo"></a></div>
        <div class="header_menu">
            <ul class="header_menu_list ul__reset">
                <li class="header_menu_item js-cursor-contract"><a href="#about" class="desc text-uppercase"><span
                            class="header_menu_item_inner"><span
                                class="header_menu_item_link header_menu_item_link__deep secondary-font">About</span> <span
                                class="header_menu_item_link header_menu_item_link__active secondary-font">About</span></span></a>
                </li>
                <li class="header_menu_item js-cursor-contract">
                    <a href="#skills" class="desc text-uppercase">
                    <span class="header_menu_item_inner">
                    <span class="header_menu_item_link header_menu_item_link__deep secondary-font">MY SKILLS</span> 
                    <span class="header_menu_item_link header_menu_item_link__active secondary-font">MY SKILLS</span>
                    </span>
                    </a>
                </li>
                <li class="header_menu_item js-cursor-contract"><a href="#work" class="desc text-uppercase"><span
                            class="header_menu_item_inner"><span
                                class="header_menu_item_link header_menu_item_link__deep secondary-font">Works</span> <span
                                class="header_menu_item_link header_menu_item_link__active secondary-font">Works</span></span></a>
                </li>
                <li class="header_menu_item js-cursor-contract"><a href="#story" class="desc text-uppercase"><span
                            class="header_menu_item_inner"><span
                                class="header_menu_item_link header_menu_item_link__deep secondary-font">MY STORY</span> <span
                                class="header_menu_item_link header_menu_item_link__active secondary-font">MY STORY</span></span></a>
                </li>
                <li class="header_menu_item js-cursor-contract"><a href="#video" class="desc text-uppercase"><span
                            class="header_menu_item_inner"><span
                                class="header_menu_item_link header_menu_item_link__deep secondary-font">VIDEO</span> <span
                                class="header_menu_item_link header_menu_item_link__active secondary-font">VIDEO</span></span></a>
                </li>
            </ul>
        </div>
    </header>
    <!-- ===============================================
      header section End 
======================================-->