<div class="layer layer__red js-masker">
    <div class="container">
        @@include("./partials-component/banner/_red-layer.html")
        <div class="about about__red">
            @@include("./partials-component/about-text-modal/_red-layer.html")
            @@include("./partials-component/my-works/_red-layer.html")
        </div>
       @@include("./partials-component/my-story/_red-layer.html")
        @@include("./partials-component/my-services/_red-layer.html")

@@include("./partials-component/videos/_red-layer.html")

     @@include("./partials-component/testimonials/_red-layer.html")
@@include("./partials-component/cta-action/_red-layer.html")
        @@include("./partials-component/contact/_red-layer.html")
    </div>
</div>