<div class="layer layer__dark">
    <div class="container">
        <div id="about">
            @@include("./partials-component/banner/_dark-layer.html")
            <div class="about js-about">
                <!-- about section start -->
                @@include("./partials-component/about-text-modal/_dark-layer.html")
                <!-- about section end -->
                <!-- my works section start -->
                @@include("./partials-component/my-works/_dark-layer.html")
                <!-- my works section end -->
            </div>
        </div>
        <!-- ===========[end] -->

        <div id="story">
            <!-- =================================
                my story section start
        ==================================== -->
          @@include("./partials-component/my-story/_dark-layer.html")
            <!-- =============================================
            my story section end
=================================================== -->
            <!-- =============================================
            my service section start
=================================================== -->
           @@include("./partials-component/my-services/_dark-layer.html")
            <!-- =============================================
            my service section end
=================================================== -->
            <!-- =============================================
           slide video section start
=================================================== -->
            @@include("./partials-component/videos/_dark-layer.html")
            <!-- =============================================
           slide video section end
=================================================== -->

            <!-- =============================================
           testimonials section start
=================================================== -->
           @@include("./partials-component/testimonials/_dark-layer.html")
            <!-- =============================================
           testimonials section end
=================================================== -->
        </div>
        <div id="contact">
           @@include("./partials-component/cta-action/_dark-layer.html")
          @@include("./partials-component/contact/_dark-layer.html")
        </div>
    </div>
    <div class="frame-mobile"><button id="js-btn_clipPath" class="btn_clipPath"><span class="btn_clipPath_inner"><span
                    class="btn_clipPath_image btn_clipPath_image__ring"><img src="images/press-rounded-bell.svg"
                        width="78" height="78" alt="ic-text-ring"> </span><span
                    class="btn_clipPath_image btn_clipPath_image__touch"><img width="15" height="52"
                        src="images/cursor-press-hand.svg" alt="ic-touch"></span></span></button>
    </div>
</div>
