<div class="video" id="video">
    <div class="videoPlayer js-videoPlayer">
        <div class="videoPlayer_inner js-videoPlayer_inner"><video id="videoPlayer" playsinline muted loop
                preload="auto" data-poster="images/video-overlpaper.jpg"
                data-poster-mobile="images/video-overlpaper.jpg" data-src-mobile="images/SPIDERVERSE(1).mp4"
                data-src="images/SPIDERVERSE(1).mp4" width="1920" height="1080"></video><button
                class="js-btnBigPlay videoPlayer_btn"><img src="icons/ic-play.svg" alt="icon-play"></button>
        </div>
    </div>
</div>