<div class="video video__red">
    <div class="videoPlayer op-0">
        <div class="videoPlayer_inner videoPlayer_inner__red js-videoPlayer_inner__red"><video
                id="videoPlayer_red" playsinline muted loop preload="none" width="1920"
                height="1080"></video><button class="js-btnBigPlay videoPlayer_btn"><img
                    src="icons/ic-play.svg" alt="icon-play"></button></div>
    </div>
</div><span class="vj-cursor js-vj-cursor vj-cursor__red label_sample"><span><span
            class="d-block">PLAY</span> <span class="d-block">REEL</span></span></span>