<div class="testimonials testimonials__red js-testimonials__red">
    <div class="modal-text-box">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-10 col-12 offset-lg-0 offset-sm-0">
                <div class="modal-text-main">
                    <h2 class="scroll-paragraph-mask js-scroll-paragraph-mask h1 mb-0 js-heading-mask_heading container_content modal-text-title none-break text-align-left text-dark">It is easy <br>
                        to make <br> things <br> complicated <br> and ugly</h2>
                </div>
            </div>
            <div class="col-lg-6 col-sm-10 col-12">
                <div class="modal-text-main">
                    <h2 class="scroll-paragraph-mask js-scroll-paragraph-mask h1 mb-0 js-heading-mask_heading container_content modal-text-title none-break text-align-right text-dark">it is hard <br>
                        to make <br> things <br>
                        simple and <br> beautiful</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-sm-10 col-12 offset-lg-4 offset-sm-2">
            <p
                class="testimonials_content_label container_content body-text text-uppercase text-dark">
                they said that</p>
        </div>
        <div class="col-lg-1 col-2 offset-lg-2 offset-sm-1">
            <div class="testimonials_thumbs">
                <div class="testimonials_thumbs_list js-testimonials_thumbs_list__red">
                    <div class="testimonials_thumbs_inner">
                        <ul class="testimonials_thumbs_list_list ul__reset">
                            <li class="thumb-item is-active"><span class="thumb-item_inner"><img
                                        src="images/testi1.png"
                                        alt="michael-glass"></span></li>
                            <li class="thumb-item"><span class="thumb-item_inner"><img
                                        src="images/testi2.png"
                                        alt="peter-smart"></span></li>
                            <li class="thumb-item"><span class="thumb-item_inner"><img
                                        src="images/testi3.png" alt="linh-le"></span></li>
                        </ul><span
                            class="testimonials_thumbs_flash js-testimonials_thumbs_flash"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial_lists row">
        <div class="col-lg-7 col-sm-10 col-10 offset-lg-4 offset-sm-2 offset-2">
            <div class="testimonial">
                <div class="testimonial_inner container_content">
                    <div class="testimonial_content h2">
                        <p class="mb-0 text-dark secondary-font">It's a pleasure to <br>
                                    work with him</p>
                                    <b><img src="images/quote-black.svg" alt="quote icons"></b>
                    </div>
                    <div class="testimonial_info">
                        <p class="testimonial_info_name desc mb-1 text-dark text-uppercase secondary-font">GINS</p>
                        <p class="testimonial_info_position sub-content text-dark text-uppercase secondary-font">DeveloppeuR COLLABORATEUR</p>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="testimonial_inner container_content">
                    <div class="testimonial_content h2">
                        <p class="mb-0 text-dark secondary-font">He pays meticulous <br> attention to every <br> details</p>
                        <b><img src="images/quote-black.svg" alt="quote icons"></b>
                    </div>
                    <div class="testimonial_info">
                        <p class="testimonial_info_name desc mb-1 text-dark text-uppercase secondary-font">Leoni</p>
                        <p class="testimonial_info_position sub-content text-dark text-uppercase secondary-font">WEB CRAFT</p>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="testimonial_inner container_content">
                    <div class="testimonial_content h2">
                        <p class="mb-0 text-dark secondary-font">He is very skilled <br> in what he does </p>
                        <b><img src="images/quote-black.svg" alt="quote icons"></b>
                    </div>
                    <div class="testimonial_info">
                        <p class="testimonial_info_name desc mb-1 text-dark text-uppercase secondary-font">FREDERIC</p>
                        <p class="testimonial_info_position sub-content text-dark text-uppercase secondary-font">CLIENTS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>